{% extends "base.html" %}
{% block content % }
<h2> About Spam filter</h2>
<hr>
<p>the spam filter is well advanced when classifying email as spams or not spam</p>

<hr>
<p> Email spam filter is model that is based in machine learnig algorithms</p>
<p> it use the following ML algorithms</p>

<button class="button button1">Naive Bayes</button>
<button class="button button1">Support Vector Machine</button>
<button class="button button1">Random Forest</button>
<button class="button button1">Logistic Regression</button>

<hr>
<P><b>Naive Bayes</b></P>
<P>NB algorithms is a supervised learnig algorithm which is based on bayes theorem and used for classification of problems</P>

<hr>
<P><b>Naive Bayes</b></P>
<P>NB algorithms is a supervised learnig algorithm which is based on bayes theorem and used for classification of problems</P>
<hr>

<P><b>Naive Bayes</b></P>
<P>NB algorithms is a supervised learnig algorithm which is based on bayes theorem and used for classification of problems</P>

<hr>
<P><b>Naive Bayes</b></P>
<P>NB algorithms is a supervised learnig algorithm which is based on bayes theorem and used for classification of problems</P>
<hr>
{% endblock content %}